@import '../themes.scss';

.App {
  text-align: center;
  height: 100%;
  overflow: auto;
  min-width: 830px;
}

.App-content{
  height: calc(100% - 50px);
  overflow: hidden;
  @include themify($themes) {
    color: themed('textColor'); 
    background-color: themed('backgroundColor');  
  }
}
