$height-search: 60px;

.Films{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 15px 40px;
   height: 100%;
   .search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: $height-search;
        padding: 15px 0px;
        span{
            padding: 8px;
        }
   }

   .input-search{        
        height: 14px;
        font-size: 14px;    
        border-width: 1px;
        padding: 10px 15px;
        width: 200px;
        color: rgba(#FFF, 0.8);
        border-color: rgba(#FFF, 0.2);
        border-radius: 30px;
        background-color : rgba(#FFF, 0.1);
        &:focus{
            border-color: rgba(#FFF, 0.4);
            outline: none;
        }
        &:hover{
            border-color: rgba(#FFF, 0.4);
            outline: none;
        }
   }

   .list {
        padding: 15px 0px 80px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(391px, 1fr)); /* see notes below */
        // grid-gap: 1em;
        overflow: auto;
   }
   .not-found-label{
        padding: 80px;
        color: #444;
        font-size: 20px;
   }
}

.Films-container{
    height: 100%;
    .infinite-scroll{
        overflow: auto;
        height: calc(100% - #{$height-search});
    }
}

@media only screen and (max-width: 1200px) {
    .Films{
        .list {
            padding: 15px 10% 80px 10%;      
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


@media only screen and (max-width: 1000px) {
    .Films{
        .list {
            padding: 15px 10% 80px 10%;
            grid-template-columns: 1fr 1fr;
        }
    }
}
