@import '../../themes.scss';

.Toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('backgroundColor');  
    }
}

.link-home {
    padding: 10px 7px;
    img{
        width: 150px;
        height: 30px;
    }
}