.FilmCard{
    width: 292px;
    height: 163px;
    background-color: white;
    position: relative;
    img{
        width: 292px;
        height: 163px;
    }
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 292px;
    height: 163px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(34,34,34,.5);
    background-image: url('../../../../assets/play_circle_outline-24px.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
 
  }
  
  .FilmCard:hover .overlay {
    opacity: 1;
  }