@import '../../themes.scss';

.FilmDetail{
    display: flex;
    padding: 3em 0em;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}

.FilmDetail-preview{
    width: 430px;
    img{
        width: 410px;
        height: 230px;
    }
}

.FilmDetail-container{
    display: flex;
    padding: 3em 0em;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.FilmDetail-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 572px;
    padding: 0px 1em;
    font-size: 14px;
    h1{
        text-align: left;
        font-size: 2em;
        color: #ecaf2a;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h3{
        font-weight: 700px;
        margin: 7px 0px;
    }
}

.FilmDetail-indicators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
}




@media only screen and (max-width: 1000px) {
    .FilmDetail{    
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .FilmDetail-container{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .FilmDetail-info{
        width: 420px;
    }
}

